<html>
 <head>
  <title>Reg Card</title>
  <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
 </head>

<body onload="return window.print();">

  <div align="center"><img src="/munshi9/logo.jpg"></div>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <th colspan="2">
        <h1>Reg Card</h1>
      </th>
    </tr>

    <tr>
      <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="6" border="1">
          <tr>
            <th align="left">ID</th>
            <td align="left">[% res.res_id %]</td>
          </tr>

          <tr>
            <th align="left">Guest Name</th>
            <td align="left">[% res.guest_name1 %]<br>
            <br></td>
          </tr>

          <tr>
            <th align="left">Passport</th>
            <td align="left">[% res.passport %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Profession</th>
            <td align="left">[% res.profession %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Company</th>
            <td align="left">[% res.company %]</td>
          </tr>

          <tr>
            <th align="left">Address</th>
            <td align="left">[% res.address %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Checkin Date</th>

            <td align="left">
            [% IF res.checkin_date %]
                [% res.checkin_date %]
            [% ELSE %]
                [% res.arrival_date %]
            [% END %]
            </td>
          </tr>

          <tr>
            <th align="left">Checkout Date</th>
            <td align="left">[% res.checkout_date %]</td>
          </tr>
        </table>
      </td>

      <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="6" border="1">

          <tr>
            <th align="left">Room Num</th>
            <td align="left">[% res.room_num %]</td>
          </tr>

          <tr>
            <th align="left">Advance</th>
            <td align="left">[% res.advance %]</td>
          </tr>

          <tr>
            <th align="left">Tel/Cell #</th>
            <td align="left">[% res.mobile %]</td>
          </tr>

          <tr>
            <th align="left">Email</th>
            <td align="left">[% res.email %]</td>
          </tr>

          <tr>
            <th align="left">Nation</th>
            <td align="left">[% res.nation %]</td>
          </tr>

          <tr>
            <th align="left">NIC Num</th>
            <td align="left">[% res.nid_num %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Adults</th>
            <td align="left">[% res.adults %]</td>
          </tr>

          <tr>
            <th align="left">Room Rate</th>
            <td align="left">[% res.room_rate %] + Tax</td>
          </tr>

          <tr>
            <th align="left">Res Remarks</th>
            <td align="left">[% res.res_remarks %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Checkin Remarks</th>
            <td align="left">[% res.checkin_remarks %]&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="4" align="right">CHECKED-IN BY: [% res.entered_by %] AT [% checkin_time %]</td>
    </tr>
  </table><br>
  <b>Please note:</b>

  <ol>
    <li><b>Checkout Time: 14:00 hours</b></li>
    <li><b>Late checkout will be charged</b></li>
    <li>Guest will be responsible for any damage done in the room.</li>
    I, solemnly agree all above mentioned instructions from the management of Falettis Hotel.</li>
  </ol><br>

  <table width="100%">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
      <td>__________________</td>
      <td>__________________</td>
    </tr>

    <tr>
      <td>Guest</td>
      <td>Reception</td>
    </tr>
  </table>
</body>
</html>
