<html>
<head>
 <title>Reservation Confirmation</title>
 <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
</head>
<body oonload="return window.print();">


<table width="100%">
<tr><td colspan=2 align="center"><img src=logo.jpg></td></tr>
<tr>
   <td>
	<table>
		<tr><th align="left">To:</th><td>[% res.guest_name1 %]</td></tr>
		<tr><th align="left">Company:</th><td>[% res.company %]</td></tr>
		<tr><th align="left">Phone:</th><td>[% res.phone %]</td></tr>
		<tr><th align="left">Fax:</th><td>[% res.fax %]</td></tr>
	</table>
   </td>
   <td>
	<table>
		<tr><th align="left">To:</th><td>[% res.guest_name1 %]</td></tr>
		<tr><th align="left">Company:</th><td>[% res.company %]</td></tr>
		<tr><th align="left">Phone:</th><td>[% res.phone %]</td></tr>
		<tr><th align="left">Fax:</th><td>[% res.fax %]</td></tr>
	</table>
   </td>
</tr>
<tr><td align="center" colspan=2><h2>Reservation Status: Confirm</h2></td></tr>

<tr>
   <td colspan=2">
We feel immense pleasure to confirm your reservation at "Falettis's Hotel Lahore". Below is the summary of your initial itinerary as desired by yourslef. We warmly look forward to welcoming you as our honorable guest.
   </td>
</tr>

<tr>
   <td colspan=2>
     <table cellspacing=0 cellpadding=3 border=1>
	<tr><td>
	   <table>
		<tr><th align="left">Confirmation Number:</th><td>[% res.guest_name1 %]</td></tr>
		<tr><th align="left">Guest Name1:</th><td>[% res.company %]</td></tr>
		<tr><th align="left">Guest Name2:</th><td>[% res.phone %]</td></tr>
		<tr><th align="left">Arrival Date:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">Departure Date:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">No. of nights:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">No. of adult/child:</th><td>[% res.fax %]</td></tr>
	   </table>
	</td><td>
	   <table>
		<tr><th align="left">Accomodation:</th><td>[% res.guest_name1 %]</td></tr>
		<tr><th align="left">Room Rate:</th><td>[% res.company %]</td></tr>
		<tr><th align="left">Breakfast Included:</th><td>[% res.phone %]</td></tr>
		<tr><th align="left">Payment Mode:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">Airport Pickup:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">Flight Details:</th><td>[% res.fax %]</td></tr>
		<tr><th align="left">Res Remarks:</th><td>[% res.fax %]</td></tr>
	   </table>
        </td></tr>
      </table>
   </td>
</tr>

<tr>
  <th colspan=2><h2>Terms and Conditions</h2></th>
</tr>

<tr>
  <td colspan=2"><ol>
	<li>The above room rates are subject to applicable government taxes which are 25.28% per room per night.
	<li>Our check-in time is 1300 hrs. In case arrival is before 1300 hrs and after 1600 hrs, room will be subject to availability.
	<li>Our check-out time is 1200 hrs and please note that 50% of room rent will be charged in case of late checkout from 1200 hrs to 1800 hrs and after 1800 hrs full night room rent will be charged.
	<li>All non-guaranteed reservations will be held on a tentative basis, subject to the availability unless guaranteed by valid credit card / company letter or advance deposit.
	<li>Confirmed reservations must be cancelled / amended at least 24 hours prior to arrival to avoid one night NO-SHOW or CANCELLATION cahrges. Cancellations should be forwarded in writing to our office.
	<li>In case of any query, please contact our front office department.
  </ol></td>
</tr>

</table>
<br/>
<br/>
We assure you of our best services at all times and look forward to welcoming you at Falettis Hotel, Lahore.
<br/>
<br/>
<br/>
<br/>
<br/>
Sincrerely yours,
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
Front Office Department

</body>
</html>

