<html>
<head>
 <title>Purchase Order</title>
 <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
</head>
<body onload="return window.print();">

<table width="100%">
<tr>
    <td>
        <table width="100%">
        <tr>
            <td valign="bottom">
                <table>
                <tr><th align="left"><img src="/munshi9/logo.jpg"></th></tr>
                <tr><th align="left">Imperial Hotel Management Services (Pvt) Ltd.</th></tr>
                </table>
            </td>
            <th valign="bottom">PURCHASE ORDER</th>
        </tr>
        </table>
    </td>
</tr>
<tr>    
    <td>24-Egerton Road, Lahore Phone: 042-111 444 333 Fax: 042-36366818, NTN #. 4032712-4, PRA #. 4032712-4</td>
</tr>
<tr>
    <td><hr/></td>
</tr>
<tr>
    <td>
	<table width="100%" border=1 cellspacing=0 cellpadding=3>
		<tr><td valign="top" width="50%"><table>
		<tr><th align="left">Vendor ID:</th><td>[% hdr.vendor_id %]</td></tr>
		<tr><th align="left">Vendor Name:</th><td>[% company.company_name %]</td></tr>
		<tr><th align="left">Address:</th><td>[% company.address1 %]</td></tr>
		<tr><th align="left">City:</th><td>[% company.city %]</td></tr>
		<tr><th align="left">Phone:</th><td>[% company.phone1 %]</td></tr>
		<tr><th align="left">NTN:</th><td>[% company.tax_num %]</td></tr>
		<tr><th align="left">GST:</th><td>[% company.web_url %]</td></tr>
		</table></td><td valign="top"><table>
		<tr><th align="left">PO Number:</th><td>[% hdr.tr_num %]</td></tr>
		<tr><th align="left">PO Amount:</th><td><b>[% nf.format_price(hdr.ord_amt) %]</b></td></tr>
		<tr><th align="left">PO Date:</th><td>[% hdr.tr_date %]</td></tr>
		<tr><th align="left">Validity:</th><td>[% hdr.validity %]</td></tr>
		<tr><th align="left">PR Num:</th><td>[% hdr.pr_num %]</td></tr>
		</table></td></tr>
	</table>
    </td>
</tr>
<tr>
    <td>
	<table width="100%" border=1 cellspacing=0 cellpadding=3>
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Qty</th>
		<th>Unit</th>
		<th>Price</th>
		<th>Disc</th>
		<th>Tax</th>
		<th>Amount</th>
	</tr>
[% net_cost_total = 0 %]

[% FOREACH id IN dtl.keys %]
	<tr>
		<td nowrap>[% dtl.$id.item_id %]</td>
		<td>[% dtl.$id.item_name %]</td>
		<td align="right">[% nf.format_price(dtl.$id.req_qty) %]</td>
		<td align="center">[% dtl.$id.unit %]</td>
		<td align="right">[% nf.format_price(dtl.$id.cost) %]</td>
		<td align="right">[% nf.format_price(dtl.$id.dis_amt) %]</td>
		<td align="right">[% nf.format_price(dtl.$id.tax_amt) %]</td>
		<td align="right">[% nf.format_price(dtl.$id.net_cost) %]</td>
	</tr>
[% net_cost_total = net_cost_total + dtl.$id.net_cost %]
[% END %]

        <tr>
		<th colspan=7" align="right">TOTAL</th>
		<th align="right">[% nf.format_price(net_cost_total) %]</th>
	</tr>
	</table>
    </td>
</tr>
</table>
[% IF hdr.notes %]
NOTES<br/>
[% hdr.notes %]
[% END %]

[% IF hdr.terms %]
TERMS & CONDITIONS<br/>
[% hdr.terms %]
[% END %]
<br/>
<br/>
Terms & Conditions:
<ul>
<li>Merchandise must be delivered to our Receiving Office, Faletti's Hotel Lahore accompained with Billing duplicate which must specify the Purchase Order Number</li>
<li>Our Receiving,In-charge will return the duplicate copy of the Bill to the purveyor with our receiving seal.</li>
<li>The responsibility for payment will commence upon receipt of merchandise in our store room.</li>
</ul>

<br/><br/><br/><br/>

<table width="100%">
<tr><td>
	<table width="100%">
	<tr>
	<th>________________</th>
	<th>________________</th>
	<th>________________</th>
	<th>________________</th>
	<th>________________</th>
	<th>________________</th>
	</tr>

	<tr>
	<th>Prepared by</th>
	<th>Department Head</th>
	<th>Finance Manager</th>
	<th>Director Operations</th>
	<th>Purchase Manager</th>
	<th>Vendor Sign</th>
	</tr>
	</table>
</td></tr>
</body>
</html>

