<html>
 <head>
  <title>Invoice</title>
  <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
 </head>

<body onload="return window.print();">

<h1 class="noprint">Print and Save</h1>
<img src="/munshi9/logo.jpg">
<br/>1 Club Road Islamabad
<br/>Phone: , Fax: 
<table cellspacing="0" cellpadding="3" border="0" width="100%">
	<tr><td colspan="4" align="right"><h1>SALES TAX INVOICE</h1></td></tr>
	<tr><td colspan="4" align="right">GST :</td><td>2600980106637</td></tr>
	<tr><td colspan="4" align="right">NTN :</th><td>3362564-6</td></tr>
	<tr><td colspan="4" align="right">&nbsp;</td><td>M/S NIMR (PVT) LTD.</td></tr>

	<tr><th align="left">Attention : </th><td>ANILA ISHAQ</td><th align="left">Invoice Number :</th><td>[% hdr.inv_num %]</td></tr>
	<tr><th align="left">Title : </th><td>ASSISTANT DECORATIVE</td><th align="left">&nbsp;</th><td>&nbsp;</td></tr>
	<tr><th align="left">Company : </th><td>[% company.company %]</td><th align="left">Invoice Amount :</th><td>[% nf.format_price(hdr.inv_amt) %]</td></tr>
	<tr><th align="left">Address : </th><td>[% company.address %]</td><th align="left">Invoice Date :</th><td>[% hdr.inv_date %]</td></tr>
	<tr><th align="left">City : </th><td>[% company.city %]</td><th align="left">GST :</th><td>[% company.other_ref2 %]</td></tr>
	<tr><th align="left">Phone No : </th><td>[% company.phone %]</td><th align="left">NTN :</th><td>[% company.ntn %]</td></tr>
	<tr><td colspan=6>PAYMENT REQUESTED WITHIN 15 TO 20 DAYS, OUTSTANDING BILLS BEYOND 30 DAYS ARE LIABLE TO 1% PER MONTH AS LATE CHARGES</td></tr>
</table>

<br/><br/>
<TABLE width="100%" cellspacing="0" cellpadding="2" border="1"><tr>

<th>Date</th>
<th>Room #</th>
<th>Guest Name</th>
<th>Reference</th>
<th>Outlet</th>
<th>Amount<br/>Rs.</th>
<th>Salestax<br/>Rs.</th>
<th>Total<br/>Rs.</th>
</tr>

[% tax_amt_total = 0 %]
[% bill_amt_total = 0 %]
[% FOREACH res_id IN dtl.keys %]

<tr>
	<td>[% dtl.$res_id.tr_date %]</td>
	<td>[% dtl.$res_id.room_num %]</td>
	<td>[% dtl.$res_id.guest_name1 %]<br/><br/></td>
	<td>[% dtl.$res_id.other_ref1 %]</td>
	<td>[% dtl.$res_id.other_ref2 %]</td>
	<td align="right">[% nf.format_price(dtl.$res_id.tax_amt) %]</td>
	<td align="right">[% nf.format_price(dtl.$res_id.bill_amt - dtl.$res_id.tax_amt) %]</td>
	<td align="right">[% nf.format_price(dtl.$res_id.bill_amt) %]</td>
</tr>
[% tax_amt_total = tax_amt_total + dtl.$res_id.tax_amt %]
[% bill_amt_total = bill_amt_total + dtl.$res_id.bill_amt %]
[% END %]
<tr>
	<td colspan="5" align="right"><b>Total:</b></td>
	<td align="right"><b>[% nf.format_price(tax_amt_total) %]</b></td>
	<td align="right"><b>[% nf.format_price(bill_amt_total - tax_amt_total) %]</b></td>
	<td align="right"><b>[% nf.format_price(bill_amt_total) %]</b></td>
</tr>

</table>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div align="right"><b><div align="right">Credit Manager</div>
<div align="right">0303 6011152-</div>
<div align="right">acm@ramadaislamabad.com</div>
</b></div>
<div align="right"><b></b></div>
<div align="right"><b></b></div>
<br/>
<br/>
<br/>
<div align="center">You are requested to kindly obtain clarification if any within a week from the recept of this invoice otherwise it will be assumed that the invoice is in order.</div>

<div align="center">PLEASE SEND CROSSED CHEQUE IN THE FAVOUR OF "<b>NIMR PVT LTD.</b>"</div>

</BODY>
</HTML>

