<html>
<head>
  <link rel="stylesheet" href="/munshi9/small.css" type="text/css">
</head>

<body onload="return window.print();">

  <div align="center"><img src="/munshi9/logo.jpg"></div>

  <b>STR-040-719-0501619</b>
  <h3>Outlet: [% hdr.outlet_id %]</h3>

  <table width="75%" cellspacing="0" cellpadding="5" border=1>
    <tr><td width='20%'>Guest Name</td><td>[% guest_name1 %]</td><td>Company</td><td>[% hdr.comp_code %]/[% hdr.company %]</td></tr>
    <tr><td>Sale ID</td><td>[% hdr.sale_id %]</td><td>Room</td><td>[% hdr.room_num %]</td></tr>
    <tr><td>Date</td><td>[% hdr.sale_date %]</td><td>Total Amount</td><td>[% nf.format_price(hdr.net_amt) %]</td></tr>
    <tr><td>Table</td><td>[% hdr.table_num %]</td><td>Covers</td><td>[% hdr.covers %]</td></tr>
  </table>

  <table width="75%" cellspacing="0" cellpadding="5" border=1>
    <tr>
      <th align='left' width="60%">Item Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>

[% FOREACH id IN dtl.keys.sort %]
    <tr>
      <td>[% dtl.$id.item_name %]</td>
      <td align="right">[% dtl.$id.qty %]</td>
      <td align="right">[% nf.format_price(dtl.$id.price) %]</td>
      <td align="right">[% nf.format_price(dtl.$id.amount) %]</td>
    </tr>
[% END %]

  </table>
  <table width="75%">

[% IF hdr.sc > 0 %]
    <tr>
      <td width="75%"></td>
      <td>Srv Chgs</td>
      <td align="right">[% nf.format_price(sc_amt) %]</td>
    </tr>
[% END %]

[% IF hdr.fdisc_amt > 0 %]
    <tr>
      <td width="75%"></td>
      <td>Food Disc</td>
      <td align="right">[% nf.format_price(hdr.fdisc_amt) %]</td>
    </tr>
[% END %]

[% IF hdr.bdisc_amt > 0 %]
    <tr>
      <td width="75%"></td>
      <td>Bev.Disc</td>
      <td align="right">[% nf.format_price(hdr.bdisc_amt) %]</td>
    </tr>
[% END %]

    <tr>
      <td width="75%">&nbsp;</td>
      <td><b>Sub Total</b></td>
      <td align="right">[% nf.format_price(hdr.sale_amt) %]</td>
    </tr>

[% IF hdr.tip > 0 %]
    <tr>
      <td width="75%"></td>
      <td>Tip</td>
      <td align="right">[% nf.format_price(hdr.tip) %]</td>
    </tr>
[% END %]


[% IF hdr.ced > 0 %]
    <tr>
      <td width="75%"></td>
      <td>16% Tax</td>
      <td align="right">[% nf.format_price(hdr.ced) %]</td>
    </tr>
[% END %]


[% IF hdr.tax10 > 0 %]
    <tr>
      <td width="75%">CNIC: [% hdr.cnic %]</td>
      <td>B.Tax</td>
      <td align="right">[% nf.format_price(hdr.tax10) %]</td>
    </tr>
[% END %]

    <tr>
      <td width="75%"></td>
      <td><b>Total</b></td>
      <td align="right">[% nf.format_price(hdr.net_amt) %]</td>
    </tr>

  </table>
<br/>
<br/>
<br/>
<div>_______________________</div>
<div>Signature</div>
  <table width="75%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td align="right">[% user %]</td>
    </tr>
  </table>
</body>
</html>
